@{
    ViewData["Title"] = "Add reservation";
}

<body>
    <h1 class="display-4">Add reservation</h1>

    <div>
        <form method="post" asp-controller="Reservation" asp-action="AddReservation">
            <div class="col-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" id="title" name="title" class="form-control"/>
            </div>
            <div class="col-3">
                <label for="desk" class="form-label">Desk:</label>
                <div class="input-group">
                    <select class="form-select" aria-label="Default select example" class="form-control">
                        <option selected>Choose desk</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <input type="number" id="Capacity" name="Capacity" min="1" max="4" class="form-control" placeholder="Capacity" inputmode="numeric" oninput="this.value = this.value.replace(/\D+/g, '')">
                </div>
                
            </div>
            <div class="col-3">
                <label for="StartDate" class="form-label">Starting time:</label>
                <div class="input-group">
                    <input type="date" id="StartDate" name="StartDate" class="form-control" />
                    <input type="time" id="StartTime" name="StartTime" class="form-control" />
                </div>
            </div>
            <div class="col-3">
                <label for="EndDate" class="form-label">Ending time:</label>
                <div class="input-group">
                    <input type="date" id="EndDate" name="EndDate" class="form-control" />
                    <input type="time" id="EndTime" name="EndTime" class="form-control"/>
                </div>
            </div>
            <br />
            <div class="col-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>