@{
    ViewData["Title"] = "Home Page";
}


<body>
    <h1 class="display-4">Reservations</h1>

    <div class="text-center">
        @foreach (var reserve in Model)
        {
            <div >
                <div class="char-name">
                    <p> <span class="news-name">@reserve.Title</span></p>
                    <p> <span class="news-subname">@reserve.Capacity</span></p>
                    <p> <span class="news-subname">@reserve.StartDate</span></p>
                    <p> <span class="news-subname">@reserve.EndDate</span></p>
                </div>
            </div>
        }
    </div>

    <div class="text-right" style="width: 0%; margin: 0 auto; padding: 20px;">
    </div>
</body>
